body {
	
	background-color: #eee;
	line-height: 24px;
	font-family: 'Indie Flower', cursive;
}

.new-text{
	font-family: 'Josefin Sans', sans-serif;
}

.newer-text {
	font-family: 'Open Sans Condensed', sans-serif;

}

.fa-lg{

	/*height:200px;*/
	/*width:200px;*/
}

.wrapper {
	margin: auto;
	margin: 200px;
}

.fixed {
	width: 100px;
	height: 100px;
	padding: 20px;
	background-color: #238E68;
	position: fixed;
}

.relative {
	width: 100%;
	height: 100px;
	padding: 20px;
	background-color: #66CDAA;
	position: relative;
	z-index: -1;
}

.absolute {
	width: 200px;
	height: 200px;
	padding: 20px;
	background-color: #76EE00;
	position: absolute;
		right: -20px;

}

/*p {
	z-index: 2;
}*/